/*

#4e9525 - zielonkawy
#4F372C - ciemny brąz
#8D5B4C - jasny brąz
#F4F2F0 - jasna szarość
#2e5a1c - ciemny zielony

*/

/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/

* {
    margin: 0;
    padding:  0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

html,
body {
    background-color: #F4F2F0;
    font-family: 'Calibri', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    color: #555555;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {zoom: 1} /*naprawia floaty obrazków które zerują wysokość sekcji gallery*/
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

section {
    padding: 80px 0;
}


.box p {
    line-height: 145%;
    text-align: justify;
}

.box {
    padding: 1%;
}

.box img {
    width: 100%;
    margin-bottom: 15px;
}

/*------------------------------*/
/*NAGŁÓWKI*/
/*------------------------------*/

h1,
h2,
h3,
h4 {
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;

}

h1 {
    font-size: 240%;
    margin-bottom: 20px;

}

h2 {
    font-size: 180%;
    text-align: center;
    margin-bottom: 50px;
}

h2:after {                          /*robi kreskę pod nagłówkiem, border-bottom się nie da bo robi na całą szerokość*/
    content: " ";
    display: block;
    height: 2px;
    width: 20%;
    margin: 20px auto;
    background-color: #2e5a1c;
}

h3 {
    font-size: 120%;
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    font-size: 110%;
    text-align: center;
    margin-bottom: 10px;
    display: inline;
}

/*------------------------------*/
/*HEADER*/
/*------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/pleso-bg-img.jpg);
    background-position: center;
    background-size: cover;             /* Scale the background image to be as large as possible */
    background-attachment: fixed;       /* background image nie scrolluje się */
    height: 100vh;                      /* = 100% of the viewport height */
}

.logo {
    float: left;
    height: 100px;
}

/*------------------------------*/
/*MAIN NAV*/
/*------------------------------*/

header li {
    display: inline;
    margin: 40px;
}

.main-nav li a {
    padding: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.25s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 1px solid #4e9525;
}

.main-nav {
    float: right;
    margin: 40px 55px;
}

/* ------BUTTONY------- */

.button:link,
.button:visited,
input[type=submit] {
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #4e9525;
    border-radius: 200px;
    transition: background-color 0.25s, border 0.25s, color 0.25s;
}

.button-full:link,
.button-full:visited,
input[type=submit] {
    color: #fff;
    background-color: #4e9525;
    margin-right: 20px;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #2e5a1c;
}

.button-full:hover,
.button-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border-color: #2e5a1c;
}

.button-ghost:link,
.button-ghost:visited {
    color: #4e9525;
}

.button-ghost:hover,
.bitton-ghost:active {
    color: #fff;
    border-color: #2e5a1c;
}



/*------------------------------*/
/*HEADER*/
/*------------------------------*/

.hero-text-box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1150px;
    transform: translate(-50%, -50%);
}



/*------------------------------*/
/*GALLERY*/
/*------------------------------*/

.gallery {
    padding: 80px 0 0 0;
}

.gallery-showcase {
    width: 100%;
}

.gallery-showcase li{
    list-style: none;
    display: block;
    float: left;
    width: 25%;
}

.gallery-photo {
    width: 100%;
    margin: 0;
    background-color: #000;
    max-height: 225px;          /* obrazki mają różne wymiary, więc bez max-height robi się biała linia */
    overflow: hidden;

}

.gallery-photo img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    transform: scale(1.20);
    transition: transform 0.5s, background-color 0.5s, opacity 0.5s; /* moje usprawnienie, lepiej wygląda jak nie tylko na hoverze ale i zdejmując kuror też jest transition */
}

.gallery-photo img:hover {      /* zrobiłam sama, bez ściągi, metodą prób i błędów :D */
    transform: scale(1.05);
    background-color: #fff;
    opacity: 1;
    transition: transform 0.5s, background-color 0.5s, opacity 0.5s;
}


/*------------------------------*/
/*LOCATION*/
/*------------------------------*/

.location {
    padding: 80px 0 0 0;
    background-color: #fafafa;
}


.location-txt {
    margin-bottom: 5px;
}

.location img {
    max-height: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.location .row:first-child {
    text-align: center;
}


/*------------------------------*/
/* ROOMS */
/*------------------------------*/

.rooms-feature {
    text-align: center;
}

.icon-small {
    color: #ebc600;
    font-size: 130%;
    width: 30px;
    line-height: 120%;
    margin-right: 10px;
}

.rooms ul {
    list-style-type: none;
    margin-top: 10px;
}

.rooms p {
    margin-top: 5px;
    margin-bottom: 10px;
}

/*------------------------------*/
/* ICONS */
/*------------------------------*/

.sg-in-icons {
    background-color: #fafafa;
}

.sg-in-icons .row {
    padding-bottom: 40px;
}


.sg-in-icons i {
    margin: 40px 3px 40px 10px;
    font-size: 150%;
}

.ion-ios-people:hover {
    color: rgb(221, 26, 26);
}

.ion-person-add:hover {
    color: rgb(49, 26, 221);
}

.ion-ios-moon:hover {
    color: rgb(255, 216, 0);
}

.ion-ios-home:hover {
    color: #4b962c;
}

.ion-waterdrop:hover {
    color: rgb(8, 149, 253);
}

.ion-wifi:hover {
    color: rgb(0, 0, 0);
}

.ion-android-restaurant:hover {
    color: rgb(70, 113, 121);
}

.ion-ios-paw:hover {
    color: rgb(92, 57, 57);
}

.tooltip::after {                   /* sam border-bottom podkreślałby cały div razem z ikoną */
    content: ' ';
    display: block;
    position: relative;
    left: 50px;
    width: 125px;
    height: 2px;
    background-color: transparent;
    border-bottom: 1px dotted #000;
}
 
.tooltip .tooltiptext {             /* stylujemy pojawiający się text na hoverze, żeby wyglądał jak komiksowy dymek */
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 15px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*------------------------------*/
/* OPINIONS */
/*------------------------------*/

.opinions {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/wanderer-455338_1920.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
}

cite {
    display: block;
    margin-top: 15px;
}


cite img {
    margin: 15px 10px 0 0;
    border-radius: 50%;
    height: 50px;
}

blockquote:before {
    content: "\201c";
    display: block;
    font-size: 300%;
}


/*------------------------------*/
/* PRICE LIST */
/*------------------------------*/

.price-list-box {
    border-radius: 2%;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    width: 90%;
    margin-left: 10px;
}

.price {
    font-size: 300%;
    font-weight: lighter;
    color: #4e9525;
}

.price span {
    font-size: 30%;
    
}

.price-list-box div {
    border-bottom: 1px solid #d4d4d4;
    padding: 15px;
}

.price-list-box div:first-child {
    background-color: #fbfbfb;
    padding: 15px;
}

.price-list-box div:last-child {
    text-align: center;
    border: 0;
    margin: 10px 0;
}

.price-list-box ul {
    list-style-type: none;
}

.price-list-box ul li {
    padding: 8px 0;
}




/*------------------------------*/
/* FORM */
/*------------------------------*/


.section-form {
    background-color: #fff;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input, textarea, select { 
    font-family: inherit;  /* we have to re-define the font family for the input fields */
    font-size: 100%; 
}

#name,
#text, 
#email,
#user-choices,
select,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

textarea {
    height: 80px;
}

input[type=checkbox] {
    margin: 5px 5px 5px 0;
}


/*------------------------------*/
/* FOOTER */
/*------------------------------*/


footer {
    background-color: #343434;
    padding: 40px;
}

footer li {
    list-style-type: none;
    display: inline;
}

footer a {
    text-decoration: none;
    color: #777777;
    font-size: 90%;
    margin-right: 20px;
}

footer a:hover {
    color: #c9c9c9;
    transition: color 0.3s;
}

footer p {
    text-align: center;
    padding: 20px 20px 0 20px;
    font-size: 90%;
    color: #777777;
}

.social-links {
    text-align: right;
}

.social-links i {
    font-size: 25px;
}

.ion-social-facebook:hover {
    color: #3B5998;
}

.ion-social-instagram:hover {
    color: #fb3958;
}

.ion-social-twitter:hover {
    color: #1DA1F2;
}