/*

#C6CA53 - zielonkawy
#4F372C - ciemny brąz
#8D5B4C - jasny brąz
#F4F2F0 - jasna szarość
#0E3819 - ciemny zielony

*/

/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/

* {
    margin: 0;
    padding:  0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

html,
body {
    background-color: #F4F2F0;
    font-family: 'Calibri', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*------------------------------*/
/*HEADER*/
/*------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/pleso-bg-img.jpg);
    background-position: center;
    background-size: cover;             /* Scale the background image to be as large as possible */
    background-attachment: fixed;       /* background image nie scrolluje się */
    height: 100vh;                      /* = 100% of the viewport height */
}

.logo {
    float: left;
    height: 100px;
}

/*------------------------------*/
/*MAIN NAV*/
/*------------------------------*/

header li {
    display: inline;
    margin: 40px;
}

a {
    text-decoration: none;
    color: #fff;
    
}

.main-nav {
    float: right;
    margin: 40px 55px;
}



