/*

#C6CA53 - zielonkawy
#4F372C - ciemny brąz
#8D5B4C - jasny brąz
#F4F2F0 - jasna szarość
#0E3819 - ciemny zielony

*/

/*------------------------------*/
/*BASIC SETUP*/
/*------------------------------*/

* {
    margin: 0;
    padding:  0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

html,
body {
    background-color: #F4F2F0;
    font-family: 'Calibri', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/*------------------------------*/
/*NAGŁÓWKI*/
/*------------------------------*/

h1,
h2,
h3 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 240%;
    margin-bottom: 20px;
}

/*------------------------------*/
/*HEADER*/
/*------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/pleso-bg-img.jpg);
    background-position: center;
    background-size: cover;             /* Scale the background image to be as large as possible */
    background-attachment: fixed;       /* background image nie scrolluje się */
    height: 100vh;                      /* = 100% of the viewport height */
}

.logo {
    float: left;
    height: 100px;
}

/*------------------------------*/
/*MAIN NAV*/
/*------------------------------*/

header li {
    display: inline;
    margin: 40px;
}

.main-nav li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.main-nav {
    float: right;
    margin: 40px 55px;
}

/* ------BUTTONY------- */

.button:link,
.button:visited {
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #C6CA53;
    border-radius: 200px;
    transition: background-color 0.25, border 0.25, color 0.25;
}

.button-full {
    color: #fff;
    background-color: #C6CA53;
}

.button-ghost {
    color: #C6CA53;
}

/*------------------------------*/
/*HEADER*/
/*------------------------------*/

.hero-text-box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1150px;
    transform: translate(-50%, -50%);
}